---
import '../styles/components.scss';

export interface Props {
  id: string;
  label: string;
  options: Array<{ value: string; label: string; selected?: boolean }>;
  class?: string;
}

const { id, label, options, class: className } = Astro.props;
---

<div class={`form-group ${className || ""}`.trim()}>
  <label for={id} class="form-label">{label}:</label>
  <select id={id} class="form-select">
    {
      options.map((option) => (
        <option value={option.value} selected={option.selected}>
          {option.label}
        </option>
      ))
    }
  </select>
</div>
